<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.css  @categories = 'navbar1'}"></sly>

<div class="sm-hide lg-show">
    <div class="row utilitybar" style="margin-left:0px !important;">
        <div class="col-lg-4 col-md-4">
            <ul>
                <li style="width:265px;"><a href="#"> <strong>Other sites: </strong><b>Individual Investors </b><!--span &#8964--></a></li>
            </ul>
        </div>
        <div class="col-lg-8 left col-md-8">
            <ul>
                <li><a id="qwe" href="#"> <b>Contact Us </b></a></li>
                <li><a id="qwe" <b>Preference</b></a></li>
                <li class="login"><a href="#"> <b>Login</b></a></li>
            </ul>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-md mainnav navbar-light"><a class="navbar-brand" href="#"> <img src="https://www.americanfunds.com/content/dam/cgc/shared-content/images/logos/cg-af-primary-rgb-207x95.png" width="auto" height="95" alt="logo"/></a><button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarToggler">
        <div class="items">
            <div class="utilitybar sm-show lg-hide">
                <div class="col-lg-4 col-md-4">
                    <ul>
                        <li><a href="">Other sites: Individual Investors </a></li>
                    </ul>
                </div>
                <div class="col-lg-7 left col-md-7">
                    <ul>
                        <li><a href="#">Contact Us </a></li>
                        <li><a href="#">Preference</a></li>
                        <li class="login"><a href="#">Login</a></li>
                    </ul>
                </div>
            </div>
            <form class="search"><input type="search" placeholder="Enter a search term or tickel" aria-label="Search" style="font-style:italic; font-size:15px;" /><img class="search__btn__img" src="https://www.americanfunds.com/apps/nextgen/docroot/images/new-assets/search.png"
                    alt="search" /></form>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item"><a class="nav-link" href="#">MY ACCOUNTS </a></li>
                <li class="nav-item"><a class="nav-link" href="#">INVESTMENTS</a></li>
                <li class="nav-item"><a class="nav-link" href="#">INSIGHTS</a></li>
                <li class="nav-item"><a class="nav-link" href="#">PRODUCTS</a></li>
                <li class="nav-item"><a class="nav-link" href="#">PLANNING</a></li>
                <li class="nav-item"><a class="nav-link" href="#">SERVICES & SUPPORT</a></li>
                <li class="nav-item"><a class="nav-link" href="#">FORMS</a></li>
            </ul>
        </div>
    </div>
</nav>