<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
<sly data-sly-call="${clientLib.css  @categories = 'carousel3'}"></sly>
<sly data-sly-call="${clientLib.js  @categories = 'carousel3'}">
</sly>
</sly>



 <div class="slider">
            <div class="bd-example d-none d-lg-block" itemscope>
                <div class="carousel slide" id="carouselExampleCaptions" data-ride="carousel">
                    <div class="indicators">
                        <ol class="carousel-indicators">
                            <li class="active" data-target="#carouselExampleCaptions" data-slide-to="0"> <a href="">New
                                    Parents</a></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="1"> <a href="">Growing family</a>
                            </li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="2"> <a href="">Up next,
                                    college</a></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="3"> <a href="">On campus</a></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="4"> <a href="">Grandparents</a>
                            </li>
                        </ol>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active"><img class="col-5"
                                src="https://www.americanfunds.com/content/dam/cgc/shared-content/images/infographics/Expectant-mother-and-father-illustration-small-green.png"
                                alt="..." itemprop="carouselImage1" value="1">
                            <article class="col-7 float-right">
                                <h1>New parents </h1>
                                <p>You’re dealing with diapers, drool and midnight feedings. Now you're supposed to
                                    think about saving for college? We make it easy.</p>
                                <h3>Start now. Start small. Baby steps.</h3><a href="">Learn more -></a>
                            </article>
                        </div>
                        <div class="carousel-item"><img class="col-5"
                                src="https://www.americanfunds.com/content/dam/cgc/shared-content/images/infographics/family-expecting-second-child-graphic-1.png"
                                alt="..." itemprop="carouselImage1" value="2">
                            <article class="col-7 float-right">
                                <h1>Growing family</h1>
                                <p>Now that you have more than one child, it feels like it's time to get serious about
                                    saving for their future.</p>
                                <h3>Kickstart a new savings plan.</h3><a href="">Learn more -></a>
                            </article>
                        </div>
                        <div class="carousel-item"><img class="col-5"
                                src="https://www.americanfunds.com//content/dam/cgc/shared-content/images/infographics/starting-college-graphic-3.png"
                                alt="..." itemprop="carouselImage1" value="3">
                            <article class="col-7 float-right">
                                <h1>Up next, college</h1>
                                <p>Your child is starting to apply to colleges, and reality is setting in: There’s a gap
                                    between what you have and what it costs.</p>
                                <h3>Let’s figure out a plan. </h3><a href="">Learn more -></a>
                            </article>
                        </div>
                        <div class="carousel-item"><img class="col-5"
                                src="https://www.americanfunds.com/content/dam/cgc/shared-content/images/infographics/students-on-college-campus-graphic.png"
                                alt="..." itemprop="carouselImage1" value="4">
                            <article class="col-7 float-right">
                                <h1>On campus</h1>
                                <p>With your child on campus, you need to stretch your money now and tackle how to
                                    handle the debt that’s coming later.</p>
                                <h3>Let’s plan the next step.</h3><a href="">Learn more -></a>
                            </article>
                        </div>
                        <div class="carousel-item"><img class="col-5"
                                src="https://www.americanfunds.com/content/dam/cgc/shared-content/images/infographics/grandparents-spending-time-with-grandchildren-closeup-graphic.png"
                                alt="..." itemprop="carouselImage1" value="5">
                            <article class="col-7 float-right">
                                <h1>Grandparents</h1>
                                <p>You adore your grandchildren and want to show it by helping with the costs of
                                    college. Best grandparents ever!</p>
                                <h3>Here’s how to contribute.</h3><a href="">Learn more -></a>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile d-block d-lg-none">
                <ul>
                    <li>
                        <h1>New parents </h1><img
                            src="https://www.americanfunds.com/content/dam/cgc/shared-content/images/infographics/Expectant-mother-and-father-illustration-small-green.png"
                            alt="..." itemprop="carouselImage1" value="1">
                        <article>
                            <p>You’re dealing with diapers, drool and midnight feedings. Now you're supposed to think
                                about saving for college? We make it easy.</p>
                            <h3>Start now. Start small. Baby steps.</h3><a href="">Learn more -></a>
                        </article>
                    </li>
                    <li>
                        <h1>Growing family</h1><img
                            src="https://www.americanfunds.com/content/dam/cgc/shared-content/images/infographics/family-expecting-second-child-graphic-1.png"
                            alt="..." itemprop="carouselImage1" value="2">
                        <article>
                            <p>Now that you have more than one child, it feels like it's time to get serious about
                                saving for their future.</p>
                            <h3>Kickstart a new savings plan.</h3><a href="">Learn more -></a>
                        </article>
                    </li>
                    <li>
                        <h1>Up next, college</h1><img
                            src="https://www.americanfunds.com//content/dam/cgc/shared-content/images/infographics/starting-college-graphic-3.png"
                            alt="..." itemprop="carouselImage1" value="3">
                        <article>
                            <p>Your child is starting to apply to colleges, and reality is setting in: There’s a gap
                                between what you have and what it costs.</p>
                            <h3>Let’s figure out a plan. </h3><a href="">Learn more -></a>
                        </article>
                    </li>
                    <li>
                        <h1>On campus</h1><img
                            src="https://www.americanfunds.com/content/dam/cgc/shared-content/images/infographics/students-on-college-campus-graphic.png"
                            alt="..." itemprop="carouselImage1" value="4">
                        <p>With your child on campus, you need to stretch your money now and tackle how to handle the
                            debt that’s coming later.</p>
                        <h3>Let’s plan the next step.</h3><a href="">Learn more -></a>
                    </li>
                    <li>
                        <h1>Grandparents</h1><img
                            src="https://www.americanfunds.com/content/dam/cgc/shared-content/images/infographics/grandparents-spending-time-with-grandchildren-closeup-graphic.png"
                            alt="..." itemprop="carouselImage1" value="5">
                        <article>
                            <p>You adore your grandchildren and want to show it by helping with the costs of college.
                                Best grandparents ever!</p>
                            <h3>Here’s how to contribute.</h3><a href="">Learn more -></a>
                        </article>
                    </li>
                </ul>
            </div>
        </div>