
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.css  @categories = 'hero'}"></sly>
        <div class="hero">
            <div class="hero__content">
                <h1>Can I put him through college without a<br>mountain of debt?</h1>
                <p>With CollegeAmerica® from Capital Group,<br>the nation’s largest 529 education savings plan.</p>
                <h2>I can.</h2>
            </div>
            <div class="hero__image"><img
                    src="https://www.americanfunds.com/content/dam/cgc/shared-content/images/logos/logo-virginia.png"
                    alt="watermark"></div>
        </div>