
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.css  @categories = 'sticky'}"></sly>
  <div class="stickyy sticky-top">
            <div class="container fullwidth text-center sticky-top">
                <div class="row text-center">
                    <div class="col"><a class="nav-link first" href="#learn"><span class="title">LEARN</span><br>
                            <p class="d-none d-sm-block">Based on your life stage</p>
                        </a></div>
                    <div class="col"><a class="nav-link second" href="#plan"><span class="title">PLAN</span><br>
                            <p class="d-none d-sm-block">Using our calculators</p>
                        </a></div>
                    <div class="col"><a class="nav-link third" href="#choose"><span class="title">CHOOSE</span><br>
                            <p class="d-none d-sm-block">CollegeAmerica</p>
                        </a></div>
                </div>
            </div>
        </div>