<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.css  @categories = '529footer'}"></sly>
<footer class="footer">
            <div class="footer__footer1">
                <div class="footer__footer1__list block">
                    <ol>
                        <li>Largest by assets, according to the 1Q 2018 529 College Savings Quarterly Data Update from
                            Strategic Insight.</li>
                        <li>As of September 30, 2018, CollegeAmerica AUM is $60B.</li>
                        <li>Number of accounts as of September 30, 2018, Strategic Insight.</li>
                        <li>CollegeAmerica has some of the lowest expenses in the 529 industry, according to
                            Morningstar's "529 College-Savings Plan Landscape," May 2016.</li><br><br><br>
                    </ol>
                    <article><span>Investments are not FDIC-insured, nor are they deposits of or guaranteed by a bank or
                            any other entity, so they may lose value.<br>
                            <p>Investors should carefully consider investment objectives, risks, charges and expenses.
                                This and other important information is contained in the fund </p><a
                                href="#33">CollegeAmerica Program Description</a>, which can be obtained from a
                            financial professional and should be read carefully before investing. CollegeAmerica is
                            distributed by American Funds Distributors, Inc. and sold through unaffiliated
                            intermediaries. <br>
                            <p>Depending on your state of residence, there may be an in-state plan that provides state
                                tax and other state benefits, such as financial aid, scholarship funds and protection
                                from creditors, not available through CollegeAmerica. </p>
                        </span>Before investing in any state's 529 plan, investors should consult a tax advisor. <p>If
                            withdrawals from 529 plans are used for purposes other than qualified education expenses,
                            the earnings will be subject to a 10% federal tax penalty in addition to federal and, if
                            applicable, state income tax. State tax treatment of K-12 withdrawals varies. Please consult
                            your tax advisor for state-specific details.</p>
                        <p>American Funds Distributors, Inc., member FINRA.</p>
                        <p>This content, developed by Capital Group, home of American Funds, should not be used as a
                            primary basis for investment decisions and is not intended to serve as impartial investment
                            or fiduciary advice.</p>
                        <p>Statements attributed to an individual represent the opinions of that individual as of the
                            date published and do not necessarily reflect the opinions of Capital Group or its
                            affiliates. This information is intended to highlight issues and should not be considered
                            advice, an endorsement or a recommendation. </p>
                    </article>
                </div>
            </div>
            <div class="footer__footer2">
                <div class="footer__footer2__list block">
                    <ul>
                        <li> <span>STAY CONNECTED:</span><br></li>
                        <li> <a href="#35">Contact Us</a></li>
                        <li>
                            <ul>
                                <li> <span>Follow Us</span></li>
                                <li><a href="#36"><img
                                            src="https://www.americanfunds.com/content/dam/Shared Content/Images/Web-Only Images/icons/linkedin.png"
                                            alt="linkdn link"></a></li>
                                <li><a href="#37"><img
                                            src="https://www.americanfunds.com/content/dam/Shared Content/Images/Web-Only Images/icons/twitter.png"
                                            alt="twitter link"></a></li>
                                <li><a href="#38"><img
                                            src="https://www.americanfunds.com/content/dam/Shared Content/Images/Web-Only Images/icons/facebook.png"
                                            alt="facebook link"></a></li>
                                <li><a href="#39"><img
                                            src="https://www.americanfunds.com/content/dam/Shared Content/Images/Web-Only Images/icons/youtube.png"
                                            alt="youtube link"></a></li>
                                <li><a href="#40"><img
                                            src="https://www.americanfunds.com/content/dam/Shared Content/Images/Web-Only Images/icons/instagram.png"
                                            alt="instagram link"></a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li> <span>ABOUT AMERICAN FUNDS:</span><br></li>
                        <li><a href="#42">News</a></li>
                        <li><a href="#43">Security</a></li>
                        <li><a href="#44">Policies</a></li>
                        <li><a href="#45">Media Relations</a></li>
                        <li><a href="#46">Careers</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer__footer3">
                <div class="footer__footer3__import">
                    <div class="d-block d-md-none">
                        <div class="accordion" id="accordionFooter">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0"><button class="btn btn-link collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne"> MY ACCOUNTS</button></h2>
                                </div>
                                <div class="collapse" id="collapseOne" aria-labelledby="headingOne"
                                    data-parent="#accordionFooter">
                                    <ul>
                                        <li><a href=""> View Portfolio</a></li>
                                        <li><a href="">Portfolio Value History</a></li>
                                        <li><a href="">Statements & Tax Forms</a></li>
                                        <li><a href="">Sign Up for Paperless Delivery of Documents</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0"><button class="btn btn-link collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">INVESTMENTS</button></h2>
                                </div>
                                <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo"
                                    data-parent="#accordionFooter">
                                    <ul>
                                        <li><a href="">All American Funds</a></li>
                                        <li><a href="">Compare Funds</a></li>
                                        <li><a href="">Prospectuses & Annual Reports</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0"><button class="btn btn-link collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">INSIGHTS</button></h2>
                                </div>
                                <div class="collapse" id="collapseThree" aria-labelledby="headingThree"
                                    data-parent="#accordionExample">
                                    <ul>
                                        <li><a href="">Investment Insights</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingFour">
                                    <h2 class="mb-0"><button class="btn btn-link collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                                            aria-controls="collapseFour">PRODUCTS</button></h2>
                                </div>
                                <div class="collapse" id="collapseFour" aria-labelledby="headingFour"
                                    data-parent="#accordionExample">
                                    <ul>
                                        <li><a href="">Traditional and Roth IRAs</a></li>
                                        <li><a href="">SIMPLE IRAs</a></li>
                                        <li><a href="">401(k) Plans</a></li>
                                        <li><a href="">CollegeAmerica® 529 Plans</a></li>
                                        <li><a href="">Portfolio Series</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingFive">
                                    <h2 class="mb-0"><button class="btn btn-link collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
                                            aria-controls="collapseFive">PLANNING</button></h2>
                                </div>
                                <div class="collapse" id="collapseFive" aria-labelledby="headingFive"
                                    data-parent="#accordionExample">
                                    <ul>
                                        <li><a href="">Tools & Calculators</a></li>
                                        <li><a href="">Investing Fundamentals</a></li>
                                        <li><a href="">Mutual Fund Basics</a></li>
                                        <li><a href="">Creating a Financial Plan</a></li>
                                        <li><a href="">Retirement Planning</a></li>
                                        <li><a href="">College Savings</a></li>
                                        <li><a href="">Market Fluctuations</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingSix">
                                    <h2 class="mb-0"><button class="btn btn-link collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapseSix" aria-expanded="false"
                                            aria-controls="collapseSix">SERVICE & SUPPORT</button></h2>
                                </div>
                                <div class="collapse" id="collapseSix" aria-labelledby="headingSix"
                                    data-parent="#accordionExample">
                                    <ul>
                                        <li> <a href="">Forms</a></li>
                                        <li><a href="">Tax Center</a></li>
                                        <li><a href="">How to Use Your Account</a></li>
                                        <li><a href="">Changing Your Preferences</a></li>
                                        <li><a href="">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer__footer3__list block d-none d-md-flex">
                    <ul class="first">
                        <li>MY ACCOUNTS</li>
                        <li><a href="#47"> View Portfolio</a></li>
                        <li><a href="#48">Portfolio Value History</a></li>
                        <li><a href="#49">Statements & Tax Forms</a></li>
                        <li><a href="#50">Sign Up for Paperless Delivery of Documents</a></li>
                    </ul>
                    <ul>
                        <li>INVESTMENTS</li>
                        <li><a href="#51">All American Funds</a></li>
                        <li><a href="#52">Compare Funds</a></li>
                        <li><a href="#53">Prospectuses & Annual Reports</a></li>
                    </ul>
                    <ul>
                        <li>INSIGHTS</li>
                        <li><a href="#57">Investment Insights</a></li>
                    </ul>
                    <ul>
                        <li>PRODUCTS</li>
                        <li><a href="#59">Traditional and Roth IRAs</a></li>
                        <li><a href="#60">SIMPLE IRAs</a></li>
                        <li><a href="#61">401(k) Plans</a></li>
                        <li><a href="#62">CollegeAmerica® 529 Plans</a></li>
                        <li><a href="#63">Portfolio Series</a></li>
                    </ul>
                    <ul>
                        <li>PLANNING</li>
                        <li><a href="#64">Tools & Calculators</a></li>
                        <li><a href="#65">Mutual Fund Basics</a></li>
                        <li><a href="#67">Creating a Financial Plan</a></li>
                        <li><a href="#65">Retirement Planning</a></li>
                        <li><a href="#66">College Savings</a></li>
                        <li><a href="#67">Market Fluctuations</a></li>
                    </ul>
                    <ul>
                        <li>SERVICE & SUPPORT</li>
                        <li><a href="#68">Tax Center</a></li>
                        <li><a href="#71">How to Use Your Account</a></li>
                        <li><a href="#69">Changing Your Preferences</a></li>
                        <li><a href="#72">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer__footer4">
                <div class="footer__footer4__list">
                    <ul class="footer__footer4__list__brand">
                        <li> <a href="#73">Copyright © </a>2019 Capital Group. All rights reserved.</li>
                        <li style="padding-top:20px;">Securities offered through American Funds Distributors, Inc.</li>
                        <li style="padding-top:40px;"><a href="#74">AdChoices</a></li>
                    </ul>
                    <ul class="footer__footer4__list__active">
                        <li><a href="#75">PRIVACY </a></li>
                        <li><a href="#76">Account Agreement </a></li>
                        <li><a href="#80">Business Continuity</a></li>
                        <li><a href="#81"> Capital Group Worldwide</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>